# .env file
# OpenRouter API Key
OPENROUTER_API_KEY="sk-or-xxxxxxxxxxxxxxxxx"

# Model configuration
MODEL_NAME="qwen/qwen3-vl-235b-a22b-instruct"

# File and prompt paths
FILE_PATH="assets\\document.pdf"
IMAGE_PATH="assets\\image.png"
SYSTEM_PROMPT_PATH="prompts\\conversation2\\system.json"
CRITERIA_PATH="prompts\\conversation2\\criteria.json"
CONVERSATION_PATH="prompts\\conversation2\\conversation.json"
EVALUATION_OUTPUT_PATH="prompts/conversation2/evaluation.json"
